/*************************** Navigation ***********************/
.wrap{
  width:90%;
  margin: auto;
  max-width: 1100px,
}

.nav-bar{
  align-items: right;
}
.title-bar
  font-size: 1.2em;
  background-color: white;
  color:rgb(50,50,50);
}

/******************************** Hero ***********************/
.hero{
  padding: 3em 0;
  background-color: rgb(210,210,210);
  text-align: center;
}

/*************************** Main ******************************/
.main{
  padding: 3em 0;
  background-color: white;
  text-align: center;
}

/*************************** Footer ****************************/
.footer{
  padding: 3em 0;
  background-color: grey;
  text-align: center;
}
