/*************************** Navigation ***********************/
.wrap{
  width:90%;
  margin: auto;
  max-width: 1100px,
}

.title-bar{
  font-size: 1.2em;
  color: white;
}

#DT{
  color: white;
}

#DT:hover{
  color: green;
}

#RT{
  color: white;
}

#RT:hover{
  color: green;
}

/******************************** Hero ***********************/
.hero{
  padding: 3em 0;
  background-color: rgb(210,210,210);
  text-align: center;
}

/*************************** Main ******************************/
.main{
  padding: 3em 0;
  background-color: white;
}

#talent{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#talent-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 20px;
}

#process{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#process-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 30px;
}

#goal{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#goal-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 20px;
}

/*************************** Footer ****************************/
.footer{
  padding: 3em 0;
  background-color: white;
  text-align: center;
}

#PR{
  border: medium solid rgb(210,210,210);
}

#Monthly{
  border: medium solid rgb(210,210,210);
  padding: 50px 50px 100px 100px;
}

#Corp{
  border-style: solid;
  border-width: medium;
  background-color: rgb(210,210,210);
}
