/*************************** Navigation ***********************/
.wrap{
  width:90%;
  margin: auto;
  max-width: 1100px,
}

.title-bar{
  font-size: 1.2em;
  color: white;
}

#DT{
  color: white;
}

#DT:hover{
  color: green;
}

#RT{
  color: white;
}

#RT:hover{
  color: green;
}

/******************************** Hero ***********************/
.hero{
  padding: 3em 0;
  background-color: rgb(210,210,210);
  text-align: center;
}

/*************************** Main ******************************/
.main{
  padding: 3em 0;
  background-color: white;
}

#talent{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#talent-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 20px;
}

#process{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#process-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 30px;
}

#goal{
  text-align: justify;
  position: relative;
  bottom: 20px;
  top: 5px;
}

#goal-header{
  text-align: center;
  position: relative;
  bottom: 30px;
  top: 20px;
}

/*************************** Footer ****************************/
.footer{
  padding: 3em 0;
  background-color: white;
  text-align: center;
}

#PR{
  border: medium solid;
  background-color: rgb(210,210,210);
  padding: 15px 15px 30px 30px;
  margin: 0px 5px 5px 5px;
}

#Monthly{
  border: medium solid;
  background-color: rgb(210,210,210);
  padding: 15px 15px 15px 30px;
  margin: 3px 3px 3px 3px;
}

#Corp{
  border: medium solid;
  background-color: rgb(210,210,210);
  padding: 15px 15px 20px 25px;
  margin: 5px 5px 5px 0px;
}
